.table th,
td {
  border: none;
  border-bottom: 1px solid #dddddd;
  padding: 15px;
}

.table {
  min-width: 1300px;
  border: none;
  max-width: 1300px;
}

.editdrawer{
  position: absolute;
  top: 100px;
  left: 400px;
  width: 600px;
  z-index: 50;
}

.containers{
  position: relative;
}
.modal {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  